{% extends 'base.html.twig' %}

{% block title %}
    {% set pageTitle = 'view.team.index'|trans %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="row mx-auto w-100 justify-content-center align-items-center">
        <div class="col-12">
            <div class="text-center">
                <h1>{{ 'view.teams.index'|trans }} ({{ pagination.getTotalItemCount }})</h1>
            </div>
            <div class="text-end">
                <a href="{{ path('app_team_new')}}" class="btn btn-outline-success">{{ 'view.team.create'|trans }}</a>
            </div>
        </div>
        <div class="col-xl-8 col-md-10 col-12 table-responsive">
            <table class="table table-hover">
                <tr>
                    <th{% if pagination.isSorted('t.name') %} class="sorted"{% endif %}>
                        {{ knp_pagination_sortable(pagination, 'team.name'|trans, 't.name') }}
                    </th>
                    <th>{{ 'team.responsible'|trans }}</th>
                    <th>{{ 'team.projects'|trans }}</th>
                    <th>{{ 'team.client_projects'|trans }}</th>
                    <th>{{ 'team.members'|trans }}</th>
                    <th>{{ 'common.actions'|trans }}</th>
                </tr>

                {% for team in pagination %}
                    <tr {% if loop.index is odd %}class="color"{% endif %}>
                        <td>{{ team.name }}</td>
                        <td>{{ team.responsible.fullName }}</td>
                        <td>{{ team.projects|length }}</td>
                        <td>{{ team.clientProjects|length }}</td>
                        <td>{{ team.members|length }}</td>
                        <td>
                            <a href="{{ path('app_team_show', { id: team.id }) }}">
                                <i class="fa fa-eye me-1" title="Voir l'équipe"></i>
                            </a>
                            {% if is_granted(constant('App\\Security\\Voter\\TeamVoter::EDIT'), team) %}
                                <a href="{{ path('app_team_edit', { id: team.id }) }}">
                                    <i class="fa fa-pencil me-1" title="Modifier l'équipe"></i>
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="col-12">
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>
{% endblock %}
