{% extends 'base.html.twig' %}

{% block title %}
    {% set pageTitle = 'view.team.create'|trans %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="row w-100 m-auto justify-content-center">
        <div class="col-12 text-center my-4">
            <h1>Créer une nouvelle équipe</h1>
        </div>
        <div class="col-xl-10 col-12 my-4">
            {{ include('team/_form.html.twig') }}
            <div class="col-12 text-end my-2">
                <div class="btn-group">
                    <a class="btn btn-outline-secondary" href="{{ path('app_team_index') }}">
                        <i class="fa fa-arrow-left"></i>
                        {{ 'common.back_to_list'|trans }}
                    </a>
                    <button class="btn btn-outline-success" action="submit" form="team-form">
                        <i class="fa fa-save"></i>
                        {{ 'common.save'|trans }}
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
