{% extends 'base.html.twig' %}

{% block title %}
    {% set pageTitle = 'view.portfolio.show'|trans({name: portfolio.name}) %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="row mx-auto w-100 justify-content-center">
        <div class="col-md-10 col-12 mt-5 mb-2">
            <div class="text-center">
                <h1>{{ portfolio.name }}</h1>
            </div>
        </div>
        <div class="col-12 my-3">
            <div class="row justify-content-between align-items-center">
                <div class="col-md-3 col-sm-5 col-12 mb-2">
                    <div class="btn-group">
                        <a class="btn btn-outline-secondary" href="{{ path('app_portfolio_index') }}">
                            <i class="fa fa-arrow-left"></i>
                            {{ 'common.back'|trans }}
                        </a>
                        {% if is_granted(constant('App\\Security\\Voter\\PortfolioVoter::EDIT'), portfolio) %}
                            <a class="btn btn-outline-primary" href="{{ path('app_portfolio_edit', { id: portfolio.id }) }}">
                                <i class="fa fa-pen"></i>
                                {{ 'common.edit'|trans }}
                            </a>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-9 col-sm-7 col-12 text-end mb-2">
                    {% include('common/_timestampable_blameable.html.twig') with {
                        created_at: portfolio.createdAt,
                        created_by: portfolio.createdBy,
                        updated_at: portfolio.updatedAt,
                        updated_by: portfolio.updatedBy
                    } only %}
                </div>
            </div>
        </div>
        <div class="col-md-10 col-12 my-2">
            <div class="text-center">
                <h2>{{ 'common.information'|trans }}</h2>
            </div>
        </div>
        <div class="col-xl-4 col-lg-5 col-md-6 col-sm-8 col-12 mt-4 mb-md-4 mb-0 align-self-center">
            <div class="info-display">
                <p>{{ 'portfolio.projects'|trans ~ ' (' ~ portfolio.projects|length ~ ')' }}</p>
                {% if portfolio.projects is not empty %}
                    <span>
                        {{ portfolio.projects|map(p => '<a href="' ~ path('app_project_show', { code: p.code }) ~ '">' ~ p.name ~ '</a>')|join(', ')|striptags('<a>')|raw }}
                    </span>
                {% else %}
                    <span>{{ 'common.none'|trans }}</span>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
