{{ form_start(form, {'attr': {'id': 'milestone-form'}}) }}
    <div class="row justify-content-center">
        <div class="col-md-8 col-sm-10 col-12">
            <h3>{{ 'view.milestone.title'|trans }}</h3>
            {{ form_row(form.name) }}
            {{ form_row(form.startAt) }}
            {{ form_row(form.endAt) }}
            {{ form_row(form.required) }}
            {{ form_row(form.completed) }}
        </div>
    </div>
{{ form_end(form) }}
