{% extends 'base.html.twig' %}

{% block title %}
    {% set pageTitle = 'view.milestone.create'|trans %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="row w-100 m-auto justify-content-center">
        <div class="col-12 text-center my-4">
            <h1>{{ 'view.milestone.create'|trans }}</h1>
        </div>
        <div class="col-xl-10 col-12 my-4">
            {{ include('project/milestone/_form.html.twig') }}
            <div class="col-12 text-end my-2">
                <div class="btn-group">
                    <a class="btn btn-outline-primary" href="{{ path('app_project_show', {'code': milestone.project.code, '_fragment': 'project-milestones'}) }}">
                        <i class="fa fa-arrow-left"></i>
                        {{ 'project.back_to_project'|trans }}
                    </a>
                    <button class="btn btn-outline-success" action="submit" form="milestone-form">
                        <i class="fa fa-save"></i>
                        {{ 'common.save'|trans }}
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
