<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{{ 'common.app_name'|trans ~ ' | ' ~ pageTitle|default('common.default_title'|trans) }}{% endblock %}</title>
        <link rel="icon" href="{{ asset('icons/favicon.ico') }}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block header %}{% endblock %}
        {% block body %}{% endblock %}
        {% block footer %}{% endblock %}
        <div aria-live="polite" aria-atomic="true" class="position-relative">
            <div class="toast-container position-absolute end-0 p-3">
                {% for key, flash in app.flashes %}
                    {% for message in flash %}
                        <div class="toast show text-white align-items-center bg-{{ key }}" role="alert" aria-live="assertive" aria-atomic="true">
                            <div class="d-flex">
                                <div class="toast-body">
                                    {{ message }}
                                </div>
                                <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                            </div>
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    </body>
</html>
