<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
        <title>{% block title %}{{ 'common.app_name'|trans ~ ' | ' ~ pageTitle|default('common.default_title'|trans) }}{% endblock %}</title>
        <link rel="icon" href="{{ asset('icons/favicon.ico') }}">
        <script src="https://kit.fontawesome.com/2f27135ccb.js" crossorigin="anonymous" defer></script>
        <script src="//unpkg.com/brain.js"></script>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block header %}
            <header>
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="{{ path('app_index') }}">
                            <img src="{{ asset('icons/favicon.ico') }}" alt="{{ 'common.app_name'|trans }}">
                            <span class="app-title">{{ 'common.app_name'|trans }}</span>
                        </a>
                        <button
                            class="navbar-toggler"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent"
                            aria-expanded="false"
                            aria-label="Toggle navigation"
                        >
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-lg-0">
                                {% if app.user %}
                                    <li class="nav-item">
                                        <a class="nav-link" href="{{ path('app_project_index') }}">{{ 'nav.my_projects'|trans }}</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{{ path('app_team_index') }}">{{ 'nav.my_teams'|trans }}</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{{ path('app_portfolio_index') }}">{{ 'nav.my_portfolios'|trans }}</a>
                                    </li>
                                {% endif %}
                            </ul>
                            <div class="d-lg-flex">
                                {% if app.user %}
                                    <ul class="navbar-nav ml-auto">
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fa fa-user"></i>
                                                <span class="user-name">{{ app.user.fullName ?? app.user.email }}</span>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                                {% if is_granted(constant('App\\Enum\\Role::Admin').value) %}
                                                    <a class="dropdown-item" href="{{ path('admin') }}">{{ 'nav.administration'|trans }}</a>
                                                {% endif %}
                                                <a class="dropdown-item" href="{{ path('app_edit_profile') }}">{{ 'nav.profile.edit'|trans }}</a>
                                                <a class="dropdown-item" href="{{ path('app_logout') }}">{{ 'common.logout'|trans }}</a>
                                            </div>
                                        </li>
                                    </ul>
                                    <form class="d-lg-flex ms-lg-5" action="{{ path('app_search') }}">
                                        <input
                                            class="form-control ml-5 me-2 header-search-bar mb-lg-0 mb-2"
                                            type="search"
                                            placeholder="{{ 'nav.search.projet.placeholder'|trans }}"
                                            aria-label="{{ 'nav.search.projet.placeholder'|trans }}"
                                            name="q"
                                            value="{{ app.request.get('q')|default('') }}"
                                        >
                                        <button class="btn btn-outline-success" type="submit">{{ 'common.search'|trans }}</button>
                                    </form>
                                {% else %}
                                    <ul class="navbar-nav ml-auto">
                                        <li class="nav-item">
                                            <span class="text-light">
                                                <a class="nav-link d-inline-block" href="{{ path('app_login') }}">{{ 'common.login'|trans }}</a>
                                                ou
                                                <a class="nav-link d-inline-block" href="{{ path('app_register') }}">{{ 'common.sign_up'|trans }}</a>
                                            </span>
                                        </li>
                                    </ul>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </nav>
            </header>
        {% endblock %}
        <div id="body" class="container-fluid">
            {% block body %}{% endblock %}
            <div aria-live="polite" aria-atomic="true">
                <div class="toast-container position-absolute end-0 p-3">
                    {% for key, flash in app.flashes %}
                        {% for message in flash %}
                            <div class="toast toast-animation show text-white align-items-center bg-{{ key }}" role="alert" aria-live="assertive" aria-atomic="true">
                                <div class="d-flex">
                                    {% set acceptedKeys = ['primary', 'secondary', 'success', 'danger', 'warning', 'info', 'dark'] %}
                                    <div class="toast-body {{ key not in acceptedKeys ? 'text-dark' : 'text-light' }}">
                                        {{ message|striptags('<i>')|raw }}
                                    </div>
                                    <button
                                        type="button"
                                        class="btn-close me-2 m-auto"
                                        data-bs-dismiss="toast"
                                        aria-label="{{ 'common.close'|trans }}"
                                        title="{{ 'common.close'|trans }}"
                                    ></button>
                                </div>
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </div>
        {% block footer %}
            <footer>
                <span><span class="app-title">{{ 'common.app_name'|trans }}</span><span> | 2022</span>
            </footer>
        {% endblock %}
    </body>
</html>
