{% extends 'base.html.twig' %}

{% block title %}
    {% set pageTitle = 'view.risk.edit'|trans %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="row w-100 m-auto justify-content-center">
        <div class="col-12 text-center my-4">
            <h1>{{ 'view.risk.edit'|trans }}</h1>
        </div>
        <div class="col-12 my-3 text-end">
            {% include('common/_timestampable_blameable.html.twig') with {
                created_at: risk.createdAt,
                created_by: risk.createdBy,
                updated_at: risk.updatedAt,
                updated_by: risk.updatedBy
            } only %}
        </div>
        <div class="col-xl-10 col-12 my-4">
            {{ include('project/risk/_form.html.twig') }}
            <div class="col-12 text-end my-2">
                <div class="btn-group">
                    <a class="btn btn-outline-primary" href="{{ path('app_project_show', {'code': risk.project.code, '_fragment': 'project-risks'}) }}">
                        <i class="fa fa-arrow-left"></i>
                        {{ 'project.back_to_project'|trans }}
                    </a>
                    <button class="btn btn-outline-danger" action="submit" form="risk-delete">
                        {{ include('project/risk/_delete_form.html.twig') }}
                        <i class="fa fa-trash"></i>
                        {{ 'common.delete'|trans }}
                    </button>
                    <button class="btn btn-outline-success" action="submit" form="risk-form">
                        <i class="fa fa-save"></i>
                        {{ 'common.save'|trans }}
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
