{% extends 'base.html.twig' %}

{% block title %}Projects{% endblock %}

{% block body %}
    <div class="row mx-auto w-100 justify-content-center align-items-center">
        <div class="col-12">
            <div class="text-center">
                <h1>Vos projets ({{ pagination.getTotalItemCount }})</h1>
            </div>
            <div class="text-end">
                <a href="{{ path('app_project_new')}}" class="btn btn-outline-success">Créer un projet</a>
            </div>
        </div>
        <div class="col-xl-8 col-md-10 col-12 table-responsive">
            <table class="table table-hover">
                <tr>
                    <th{% if pagination.isSorted('p.name') %} class="sorted"{% endif %}>
                        {{ knp_pagination_sortable(pagination, 'project.name'|trans, 'p.name') }}
                    </th>
                    <th{% if pagination.isSorted('p.startAt') %} class="sorted"{% endif %}>
                        {{ knp_pagination_sortable(pagination, 'project.start_at'|trans, 'p.startAt') }}
                    </th>
                    <th{% if pagination.isSorted('p.endAt') %} class="sorted"{% endif %}>
                        {{ knp_pagination_sortable(pagination, 'project.end_at'|trans, 'p.endAt') }}
                    </th>
                    <th{% if pagination.isSorted('p.archived') %} class="sorted"{% endif %}>
                        {{ knp_pagination_sortable(pagination, 'project.archived'|trans, 'p.archived') }}
                    </th>
                    <th{% if pagination.isSorted('p.private') %} class="sorted"{% endif %}>
                        {{ knp_pagination_sortable(pagination, 'project.private'|trans, 'p.private') }}
                    </th>
                    <th>{{ 'budget.left_amount'|trans }}</th>
                    <th>{{ 'common.actions'|trans }}</th>
                </tr>

                {% for project in pagination %}
                    <tr {% if loop.index is odd %}class="color"{% endif %}>
                        <td>{{ project.name }}</td>
                        <td>{{ project.startAt ? project.startAt|date('Y/m/d H:i:s') : '' }}</td>
                        <td>{{ project.endAt ? project.endAt|date('Y/m/d H:i:s') : '' }}</td>
                        <td>{{ (project.archived ? 'common.yes' : 'common.no')|trans }}</td>
                        <td>{{ (project.private ? 'common.yes' : 'common.no')|trans }}</td>
                        <td>{{ project.budget.leftAmount ~ '€' }}</td>
                        <td>
                            <a href="{{ path('app_project_show', { id: project.id }) }}">
                                <i class="fa fa-eye me-1" title="Voir le projet"></i>
                            </a>
                            <a href="{{ path('app_project_edit', { id: project.id }) }}">
                                <i class="fa fa-pencil me-1" title="Modifier le projet"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="col-12">
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>
{% endblock %}
